<div class="strip">

	<div class="location">
		<div calss="en">

			<p class="tit">​Our location</p>
			<p class="text">6 Egoz St</p>
			<p class="text">Hevel Modiin Industrial Park</p>
			<p class="tit">Post</p>
			<p class="text">P.O.B 901 Shoham 6085001</p>
		</div>
		<div class="he">
			<p class="tit">​​כתובת</p>
			<p class="text">האגוז 6</p>
			<p class="text">פארק תעשיות חמ"ן</p>
			<p class="tit">דואר</p>
			<p class="text">ת.ד 901 שוהם 6085001</p>
		</div>

	</div>
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3383.1021800936446!2d34.96268928488188!3d32.012345729886334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d3379cb1c73ab%3A0x9cdef5719799db51!2z15DXk9ee15Qg157Xk9ei15kg15TXodeR15nXkdeUINeV15TXkteZ15DXldec15XXkteZ15Qg15HXoiLXng!5e0!3m2!1siw!2sil!4v1579544639048!5m2!1siw!2sil"
		width="340" height="230" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>